/* This is Where I will Style My Portfolio! */

section {
    padding: 20px;
}

* {
    color: #48697c;
}

/* Begin Styling the Header */
header {
    padding: 0px 30px 20px 0;
    background-color: #282726;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: #a1d6da;
    color: #282726;
    padding: 5px 5px 5px 100px;
    font-weight: bold;
    font-size: 40px;
    margin:0;
}

header a {
    text-decoration: none;
    color: #a1d6da;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    padding: 0 5px 5px 5px;
    border-bottom: 3px solid;
    font-size: 22px;
}
/* End Styling the Header */

.hero {
    background-image: url("../images/connor-picture.PNG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero h2 {
    background-color: #a1d6da;
    color:  #282726;
}


/* Begin Styling the About Me Section */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.section-title {
    width: 20%;
    border-right: 3px solid;
    text-align: right;
    padding-right: 15px;
    font-size: 36px;
}

.right-info {
    width: 70%;
    padding-left: 25px;
}

.about div {
    line-height: 1.3;
}




/* Begin Styling for Contact Section */
/* Here I Need to Change Align-Items for this specific Section */
.contact {
    align-items: center;
}

.contact-details ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-details ul li {
    border-bottom: 3px solid;
    font-size: 18px;
}