/* This is Where I will Style My Portfolio! */

body {
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 20px;
}

* {
    color: #48697c;
}

a {
    text-decoration: none;
}

/* Begin Styling the Header */
header {
    padding: 0px 30px 20px 0;
    background-color: #282726;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: #a1d6da;
    color: #282726;
    padding: 5px 5px 5px 100px;
    font-weight: bold;
    font-size: 40px;
    margin:0;
}

header a {
    text-decoration: none;
    color: #a1d6da;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    padding: 0 5px 5px 5px;
    border-bottom: 3px solid;
    font-size: 22px;
}

header nav ul li a:hover {
    background-color: #a1d6da;
    color: #282726;
}
/* End Styling the Header */

.hero {
    background-image: url("../images/connor-picture.PNG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 25% 5% 3% 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero h2 {
    background-color: #a1d6da;
    color:  #282726;
    padding: 2px;
}


/* Begin Styling the About Me Section */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.section-title {
    width: 20%;
    border-right: 3px solid;
    text-align: right;
    padding-right: 15px;
    font-size: 36px;
}

.right-info {
    width: 70%;
    padding-left: 25px;
}

.about div {
    line-height: 1.3;
}


/* Start Work Styling */
.item1 {
    background-image: url("../images/run-buddy-image.JPG");
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item2 {
    background-image: url("../images/horiseon-image.JPG");
}

.item3 {
    background-image: url("../images/welcome-session-image.JPG");
}

.item4 {
    background-image: url("../images/portfolio-image.JPG");
}

.item5 {
    background-image: url("../images/google-image.JPG");
}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.work-grid-item {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid #a1d6da;
    padding: 25% 0 15px 0;
}

.item-description {
    background-color: #a1d6da;
    line-height: 0;
}

.item-description h4 {
    font-weight: bold;
    color: #282726;
}
/* End Work Styling */




/* Begin Styling for Contact Section */
/* Here I Need to Change Align-Items for this specific Section */
.contact {
    align-items: center;
}

.contact-details ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-details ul li {
    border-bottom: 3px solid;
    font-size: 18px;
}
/* End the Contact Styling */